.contenedor {
max-width: 55%;
margin: 0 auto;
}
.borde {
  border-bottom: solid 10px;
  color: coral;
}
.borde{
  border-bottom: solid 10px;
  color: coral;
}
.borde{
  border-bottom: solid 10px;
  color: coral;
}
